html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6,  
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
 caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: Arial, Helvetica, sans-serif;
	color:#333; font-size:12px;
}

input[readonly]{background-color: #E6E6E6;}
select:disabled{background-color: #E6E6E6;}

p, span {font-size:12px; font-family: Arial, Helvetica, sans-serif;color:#333; margin: 0;padding: 0; font-weight:normal;}
:focus {outline: 0;}
span a{text-decoration:none;}

ol, ul {list-style: none;}
table {
	border-collapse:collapse;
	border-spacing: 0; margin:auto; float:left;
}
caption, th, td {font-weight: normal;}
blockquote:before, blockquote:after,q:before, q:after{content: "";}
blockquote, q {quotes: "" "";}

.contenido{width: 98%;margin:0 auto;border:0px solid #000;height: 545px;}
.contenido #tab-acceso{float: right;margin-top: 50px;overflow:scroll;height:200px;}
.contenido #tab-acceso table{border:1px solid #000;width: 250px;text-align: center;}
//.contenido ul{width: 750px;border: 1px solid #000;margin:0 auto;}
/*.contenido #tab-acceso table tr,td{border:1px solid #000;}*/
.header{float:left;width: 100%;}
.header a:hover{font-weight: bold;}
.header #logo{padding: 15px 0;float: left;}
.header h2{float:left;font-size: 12px;padding-top: 12px;padding-left: 3px;}
.header span{float: right;font-size: 12px;text-decoration: none;text-align: right;vertical-align: middle;font-size: 12px;padding-top: 5px;padding-right: 3px;}
.menu{float: left;width: 100%;}
.titulo{float: left;border-bottom: 1px solid #ccc;padding: 5px 0;width: 100%;margin-bottom: 10px;margin-top: 5px;}
.titulo h1{font-size: 35px;text-align: center;font-family:"Times New Roman","Times","serif";}
.mensaje{clear: left;width: 85%;margin:0px auto;text-align: center;background-color:#D5E2F2; color:#F00;padding:4px 0px;}
.tabla{margin:0px auto;text-align: center;width:85%;height: auto;} 
.tabla table{border-color:#EDEDED;width: 100%;padding: 0px;border-spacing: 0px;} 
.tabla tr.list1 td { background-color:#D9E8FB; text-align:center; padding:3px 0;}
.tabla tr.list1 td a{ color:#069;}
.tabla tr.list_a td{text-align:center; padding:8px 0;} 
.tabla tr.list_b td{text-align:center; padding:8px 0; background-color:#F4F7FF} 

.zonelogin{float: left;width: 100%;border-bottom:1px solid #D6D6D6;padding: 55px 0;}
.frmlogin{width: 507px;margin:0 auto;}
.frmlog{float: left;width: 232px;padding-left:150px;padding-top: 25px;}
.frmcamp{padding:5px;}
.frmcamp span{float: left;margin-right:5px;text-align:right;width: 70px;margin-bottom: 15px;}

.frmboton{float:left;padding-top:5px;width:100%;text-align: center;padding-bottom: 5px;}
.frmboton h2 a,.frmboton h2{font-size: 12px;text-align: center;text-decoration: none;padding-bottom: 5px;}
.frmboton_login{margin: 0 auto;width: 158px;}
.frmboton_matricula{margin: 0 auto;width: 300px;}
.footer{float: left;width:100%;padding-top:10px;margin-top:10px;border-top: 1px solid #ccc;}
.footer h2{font-size: 11px;float: left;}

.aceptarlog2{ background-color:#EB1C24; color:#FFF; border:none; font-size:11px;padding:3px 18px; cursor:pointer;}
.aceptarlog2:hover{ background-color:#F00;}

.aceptarlog3{ background-color:#a7a7a7; color:#FFF; border:none; font-size:11px;padding:3px 18px; cursor:pointer;}
.aceptarlog3:hover{ background-color:#00a0dc;}

.lista_botones{float: left;left:55%;list-style-type:none;padding: 0px;margin: 0px 3px;position: relative;cursor: pointer}
.lista_botones li{background-position: 2px 2px;background-color:#EB1C24; color:#FFF; border:none; font-size:11px;padding:4px 4px 4px 28px;background-repeat: no-repeat;border:0px solid #000;margin:0px;position: relative;}
.lista_botones li:hover{background-color:#F00;cursor: pointer;}
.lista_botones #grabar {background-image: url("../img/grabar.png");}
.lista_botones #aprobar {background-image: url("../img/icono_aprobar.png");}
.lista_botones #desaprobar {background-image: url("../img/icono_desaprobar.png");}
.lista_botones #buscar {background-image: url("../img/icono_buscar.png");}
.lista_botones #editar {background-image: url("../img/modificar.png");}
.lista_botones #nuevo {background-image: url("../img/botonnuevo.png");}
.lista_botones #limpiar {background-image: url("../img/icono_limpiar.png");}
.lista_botones #imprimir {background-image: url("../img/icono_imprimir.png");}
.lista_botones #cancelar {background-image: url("../img/botoncancelar.jpg");}
.lista_botones #salir {background-image: url("../img/exit.png");}
.lista_botones #eliminar {background-image: url("../img/eliminar.png");}
.lista_botones #excel {background-image: url("../img/excel.gif");}
.lista_botones #pdf {background-image: url("../img/pdf.gif");}
.lista_botones #html {background-image: url("../img/ie.png");}
.lista_botones #grafica {background-image: url("../img/bar.png");}

.lista_busqueda{float:left;position: relative;list-style-type:none;cursor: pointer;margin:0px 3px;}
.lista_busqueda input{width: 100px;}
.lista_busqueda li{width: 250px;}

/*--------------Principal-------------------*/
.zonebody{border-bottom: 0px solid #D6D6D6;float:left;width:70%;}
.titulotabla{border-bottom: 1px solid #ccc;float: left;padding: 5px 0;width: 100%;margin-bottom: 10px;margin-top: 5px;}
.titulotabla h1{font-size: 35px;text-align: center;font-family:"Times New Roman","Times","serif";}

.listartabla{text-align: center;width:100%; margin:auto 20px;border: 1px solid #000;height: 400px;} 
.listartabla .mensajetabla{background-color:#D5E2F2; color:#F00;padding:4px 0px;border: 1px solid #000;}
.listartabla table {width:80%; border-color:#EDEDED; }
.listartabla tr.list1 td { background-color:#D9E8FB; text-align:center; padding:3px 0;}
.listartabla tr.list1 td a{ color:#069;}
.listartabla tr.list_a td{text-align:center; padding:8px 0;} 
.listartabla tr.list_b td{text-align:center; padding:8px 0; background-color:#F4F7FF} 


#tabla_detalle th{padding:4px;background:#b9c9fe;border-top: 4px solid #aabcfe;border-bottom: 1px solid #fff; color: #039;}
#tabla_detalle td{padding:3px;background:#e8edff;border-bottom:1px solid #fff;color: #669;border-top: 1px solid transparent;}
#tabla_detalle tr:hover td {background: #d0dafd; color: #339; }

/*-------------- Editar item-------------------*/
.contenidotabla{float: auto;background-color: #fff;margin:0px auto 0px auto;width:100%;}
.contenidotabla h1{height:30px;padding:6px 0px 6px 6px;text-align: center;font-size: 25px;font-family:"Times New Roman","Times","serif";border-bottom:1px solid #CCCCCC;}
.contenidotabla h2,h3{padding:6px 0px 6px 6px;text-align: center;font-size: 25px;font-family:"Times New Roman","Times","serif";}
.contenidotabla table{width:100%;background-color:#fff;border-spacing:2px;;border-collapse: separate;}
/*.contenidotabla table td{text-align: right;padding: 5px;}*/
.contenidotabla table td.formss{text-align:left;}
.cajatitle{ float:left; width:181px;}
.cajatitle h2{ color:#F81A27; font-weight:bold; padding:2px 0;	}
.cajatitle h3{ font-size:11px;}
.cajatitle a{ padding-top:7px; float:left; text-decoration:underline;	}
.cajatitle a:hover{ color:#CB121C}
.caja_contenidos{ float:left; width:280px; padding-bottom:25px;}
.caja_contenidos img{ float:left; margin-right:15px;}

/*-------------- Contenido Mensaje -------------------*/
.cuerpomensaje{
    background-color:#ececec;
    border:solid #ccc;
    box-shadow: 3px 3px 10px 5px rgba(0,0,0,.8);
    -webkit-border-radius:5px;-moz-border-radius:10px;
    border-radius:10px;
    border-width: 2px 0;
    padding: 100px 150px;
    margin: 70px 190px;
    text-align: center;
    float: left;
}
.curbottom{ height:380px;}
p#bot{padding-bottom: 5px;}
.botones{margin:0;background-color:#EB1C24;border: none;font-size: 11px;color: #FFF;padding: 3px 18px;cursor: pointer;width:76px !important;}
.btn_sig{margin:0;background-color:#EB1C24;border: none;font-size: 11px;color: #FFF;padding: 3px 18px;cursor: pointer;width:40px !important;}

/*-------------- ------------------*/
.cajaReducida{background-color:#fff;font:8pt helvetica;color:#000;width:60px;border-color:#696969;border-style:solid;border-width:1px;height:17px;border-radius:5px;box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);line-height: 20px;}
.cajaMinima{background-color:#fff;font:8pt helvetica;color:#000;width:80px;border-color:#696969;border-style:solid;border-width:1px;height:17px;border-radius:5px;box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);line-height: 20px;}
.cajaMedia{background-color:#fff;font:8pt helvetica;color:#000;width:130px;border-color:#696969;border-style:solid;border-width:1px;height:17px;border-radius:5px;box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);line-height: 20px;}
.cajaGrande{background-color:#fff;font:8pt helvetica;color:#000;width:175px;border-color:#696969;border-style:solid;border-width:1px;height:17px;border-radius:5px;box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);line-height: 20px; }
.cajaSuperGrande{background-color:#fff;font:8pt helvetica;color:#000;width:300px;border-color:#696969;border-style:solid;border-width:1px;height:17px;border-radius:5px;box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);line-height: 20px;}

.comboMedio{background-color:#fff;font:8pt helvetica;color:#000;width:130px;border-color:#696969;border-style:solid;border-width:1px;height:15pt;border-radius:5px;box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);line-height: 20px; }
.comboGrande{background-color:#fff;font:8pt helvetica;color:#000;width:180px;border-color:#696969;border-style:solid;border-width:1px;height:15pt;border-radius:5px;box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);line-height: 20px; }
.comboMinimo{background-color:#fff;font:8pt helvetica;color:#000;width:90px;border-color:#696969;border-style:solid;border-width:1px;height:15pt;border-radius:5px;box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);line-height: 20px; }

.comboMultipleMedio{background-color:#fff;font:8pt helvetica;color:#000;width:250px;border-color:#696969;border-style:solid;border-width:1px;border-radius:5px;box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);}
.comboMultipleGrande{background-color:#fff;font:8pt helvetica;color:#000;width:400px;height:200px;border-color:#696969;border-style:solid;border-width:1px;border-radius:5px;box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);}

.minus{text-transform:none;}
.textareaGrande {font:8pt helvetica;color:#000;}

#basic-modal-content {display:none;}
#simplemodal-overlay {background-color:#000; cursor:wait;}
#simplemodal-container {height:550px; width:1000px; color:#bbb; background-color:#333; border:4px solid #000; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#F00;}
#simplemodal-container a.modalCloseImg {background:url(../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:800; position:absolute; top:-15px; right:-16px; cursor:pointer;}
/*#simplemodal-container h3 {color:#84b8d9;}*/

#frm_exposicion{margin:0 auto;width: 70%;margin-bottom: 10px;padding: 5px;float: left;}
#frm_exposicion li{padding: 3px;}
#frm_exposicion li:last-child{text-align: center;}
#frm_exposicion label{float:left;width: 25%;text-align: right;padding-right: 10px;}