#container {
 margin: 0 auto;
 width: 100%; /* Ancho del contenedor */
}
#container #tab-1,#container #tab-2,#container #tab-3  {
 height: 1.7em;
 visibility: hidden;
}
#container label {
 background: #f4f7ff; /* Fondo de las pestañas */
 border-radius: .25em .25em 0 0;
 color: #888; /* Color del texto de las pestañas */
 cursor: pointer;
 display: block;
 float: left;
 font-size: 1em; /* Tamaño del texto de las pestañas */
 height: 2.5em;
 line-height: 2.5em;
 margin-right: .25em;
 padding: 0 1.5em;
 text-align: center;
}
#container input:hover + label {
 background: #d5e2f2; /* Fondo de las pestañas al pasar el cursor por encima */
 color: #666; /* Color del texto de las pestañas al pasar el cursor por encima */
}
#container input:checked + label {
 background: #d5e2f2; /* Fondo de las pestañas al presionar */
 color: #444; /* Color de las pestañas al presionar */
 position: relative;
}
#content {
 background: #f4f7ff; /* Fondo del contenido */
 border-radius: 0 .25em .25em .25em;
 min-height: 35em; /* Alto del contenido */
 position: relative;
 width: 100%;
}
#content div {
 padding: 1em;
}
#content-1 {
 clear: both;
 margin-bottom: 0em;
 width: 95%;
 opacity: 0;
 position: absolute; 
 z-index: 1;
}

#content-2{
 clear: both;
 margin-bottom: 0em;
 width: 95%;
 height: 380px;
 opacity: 0; 
 position: absolute; 
 overflow: auto;
}

#content-2 span.subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    text-align:left;
    float:left;
    width: 65%;
    color:#0000FF;
    margin-top: 5px;
}

#content-2 span.btn_agregar{
    float: right;
    width: 35%;
    margin-top: 5px;
}

#content-2 span.tab_estudios,span.tab_empresa,span.tab_idiomas,span.tab_sociedad,span.tab_experiencia,span.tab_conferencias{
    float: left;
    display: none;
    width: 100%;
}

#content-2 span.lst_estudios,span.lst_conferencias,span.lst_esperiencia,span.lst_idiomas,span.lst_sociedades,span.lst_empresa{
    height: auto;
    float: left;
    width: 100%;
}
#content-2 span.editar_experiencia,span.eliminar_experiencia,span.editar_idioma,span.eliminar_idioma,span.editar_estudio,span.eliminar_estudio,span.editar_conferencia,span.eliminar_conferencia,span.editar_sociedad,span.eliminar_sociedad,span.editar_trabajo,span.eliminar_trabajo{
    cursor:pointer;
}

/*.lst_esperiencia ul{background-color:#fff;}*/
.lst_esperiencia span,.lst_idiomas span,.lst_estudios span,.lst_conferencias span,.lst_sociedades span,.lst_empresa span{font-size:13px; font-family: Arial, Helvetica, sans-serif;color:#333; margin: 0;padding: 0; font-weight:normal;}

#content-2 span h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    text-align:left;
    float:left;
    width: 100%;
    margin-top: 5px;
    margin-left: 0px;
    padding: 0px;
    list-style:circle;
}

#content-2 span h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    text-align:left;
    width: 100%;
    float:left;
    padding: 0px;
    margin-left: 5px;
}

/*#content-2 p {
 float: left;
 width: 48.5%;
}
#content-2 p.column-right {
 margin-left: 3%;
}
#content-2 p img {
 display: block;
 margin: 0 auto 1em auto;
}*/
#content-3 p,
#content-3 ul {
 margin-bottom: 1em;
}
#content-3 ul {
 margin-left: 2em;
}
#container input#tab-1:checked ~ #content #content-1,
#container input#tab-2:checked ~ #content #content-2,
#container input#tab-3:checked ~ #content #content-3 {
 opacity: 1;
 z-index: 1;
}